body {
    font-family: "Kanit", sans-serif;
}

#mapid {
    height: 400px;
}

a#NavLink:hover {
    background-color: #363636;
}

.brewery-item {
    border-bottom: 1px solid rgb(233, 233, 233);
}

.brewery-item:last-child {
    border-bottom: none;
}

.checked-star {
    color: orange;
}

.navbar-brand {
    font-size: x-large;
}

.fa-beer {
    padding: 10px;
}

.modal {
    z-index: 9999;
}

#legal-button-level {
    width: 100%;
}

table td,
table th {
    vertical-align: middle !important;
}

.has-background-dark.has-text-white {
    border-radius: 5px;
}

#search-level {
    margin: 0.5rem 20% 1rem 20%;
}

#logo {
    line-height: 0.5rem;
}

#results-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

#uber-column {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-align: center;
}

#back-button {
    display: none;
}

#uber-button {
    width: 50%;
}

* {
    box-sizing: border-box
}

.columns,
.columns:last-child {
    margin: 0
}

.columns {
    margin-left: -.75rem;
    /* margin-right: -.75rem; */
    margin-top: -.75rem;
}

@media only screen and (max-width: 1023px) {
    #back-button {
        display: block;
    }

    .navbar-end {
        display: none;
    }

    #burger-menu {
        display: none;
    }
}

@media(max-width: 767px) {
    .ordered-mobile {
        display: flex;
        flex-flow: column;
    }
    .ordered-mobile .mobile-1 {
        order: 1;
    }
    .ordered-mobile .mobile-2 {
        order: 2;
    }
    .ordered-mobile .mobile-3 {
        order: 3;
    }

    #mapid {
        height: 275px;
    }
}